//- 'Pencil Icon for Edit where Move is in Default state... On Click set Focus to Adjacent Input and enable TinyMCE for that section. Introduce Section and Document level Edit States that can live together.'

ui-view(autoscroll="true", ng-class="{edit: $prjct.show === 'EditProject'}")
  header.header
    .header-action: span.icon.ti-menu(ng-click="showMainSidebar()")
    .header-title
      span(ng-hide="$prjct.show === 'EditProject'", ng-bind-html="$prjct.project.title")
      span(ng-show="$prjct.show === 'EditProject'") Last updated {{$prjct.project.updatedAt | timeAgo}}
    .header-nav
      ul.icons.no-animate(ng-class="{'hide-all': $prjct.show != 'EditProject'}")
        li.button: button.btn.btn-sm.btn-outline(ng-click="$prjct.cancelEdits()") CANCEL
        li.button: button.btn.btn-sm.btn-primary(ng-click="$prjct.saveProject()") SAVE
        li: a(ng-class="{active: $prjct.ShowSidebar}", ng-click="$prjct.ShowSidebar = !$prjct.ShowSidebar"): span.ti-menu-alt
      ul.icons.no-animate(ng-class="{'hide-all': $prjct.show == 'EditProject'}")
        li(ng-class="{active: $prjct.show === 'EditProject'}", ng-show="$prjct.me.role === 'admin' || $prjct.project.user.length")
          a(ng-click="$prjct.showMenuItem('EditProject'); $prjct.ShowSidebar = false;", ng-class="{active: $prjct.show === 'EditProject'}")
            span.ti-pencil-alt
            .label Edit
        li(ng-class="{active: $prjct.show === 'ShowShare'}")
          a(ng-click="$prjct.showMenuItem('ShowShare')", ng-class="{active: $prjct.show === 'ShowShare'}")
            span.ti-share
            .label Share
          .hidden-menu(ng-click="$event.stopPropagation()"): div(share:project, project="{{$prjct.project}}")
        li(ng-class="{active: $prjct.show === 'ShowNotifications'}")
          a(ng-click="$prjct.showMenuItem('ShowNotifications')", ng-class="{active: $prjct.show === 'ShowNotifications'}")
            span.ti-bell
            .label Notifications
          .hidden-menu(ng-click="$event.stopPropagation()"): .notifications
            .loading(ng-class="{active: $prjct.updatingNotifications}")
            label
              input(type="checkbox", ng-model="$prjct.project.notifications", ng-change="$prjct.setNotificationSettings()")
              p Send me notifications when this project is updated.
        li: a(ng-class="{active: $prjct.ShowSidebar}", ng-click="$prjct.ShowSidebar = !$prjct.ShowSidebar; $prjct.show = ($prjct.show === 'EditProject' ? 'EditProject' : '');")
          span.ti-menu-alt
          .label Info

  .loading(ng-class="{active: loading}")

  nav.project-nav(ng-class="{faded: loading, fade: $prjct.show === 'EditProject'}")
    ul
      li.heading(href="#section-0", du-smooth-scroll): span RESEARCH
      li(data-section="0", du-scrollspy, href="#section-0", du-smooth-scroll): span Overview
      li(data-section="1", du-scrollspy, href="#section-1", du-smooth-scroll): span Background
      li(data-section="2", du-scrollspy, href="#section-2", du-smooth-scroll): span Research Goals
      li(data-section="3", du-scrollspy, href="#section-3", du-smooth-scroll): span Research Questions
      li.heading(href="#section-4", du-smooth-scroll): span RESULTS
      li(data-section="4", du-scrollspy, href="#section-4", du-smooth-scroll): span Key Findings
      li(data-section="5", du-scrollspy, href="#section-5", du-smooth-scroll): span Decisions
      li(data-section="6", du-scrollspy, href="#section-6", du-smooth-scroll): span Implications
      li.heading(href="#section-7", du-smooth-scroll): span PARTICIPANTS
      li(data-section="7", du-scrollspy, href="#section-7", du-smooth-scroll): span Direct Quotes
      li(data-section="8", du-scrollspy, href="#section-8", du-smooth-scroll): span Personas

  .container
    .project-content(ng-class="{faded: loading}")
      //- .card.progress-card: .flex-row
        .item.main
          .progress-bar
            .pb_label 30% Complete
            .pb_meter: .pb_meter_progress(style="width: 30%")
        .item
          .badge 12
          span.ti-files
          .title.dropdown.active Resources
            .hidden-menu.text-left
              ul.attachments
                li: a(href="{{file.url}}", target="_blank")
                  i(class="file-audio")
                  |  The name of the File
                li: a(href="{{file.url}}", target="_blank")
                  i(class="file-text")
                  |  The name of the Second File
                li: a(href="{{file.url}}", target="_blank")
                  i(class="file-pdf")
                  |  Another File
                li: a(href="{{file.url}}", target="_blank")
                  i(class="file-presentation")
                  |  The Final File in the Resources                  
        .item
          .badge 3
          span.ti-check-box
          .title Tasks
      .project-title#section-0
        .project-cat {{$prjct.project.taxonomy.category.pretty}}
          span(ng-show="$prjct.project.taxonomy.subcategory.pretty"), {{$prjct.project.taxonomy.subcategory.pretty}}
        h1(ng-hide="$prjct.show === 'EditProject'", ng-bind-html="$prjct.project.title")
        h1(ng-show="$prjct.show === 'EditProject'", contenteditable="{{$prjct.show === 'EditProject'}}", ng-bind-html="$prjct.project.title", ng-model="$prjct.project.title", ui-tinymce="titleConfig")
        div.m-10(ng-hide="$prjct.show === 'EditProject'")
          div(ng-bind-html="$prjct.project.summary")
        div.m-10(ng-show="$prjct.show === 'EditProject'")
          span(ng-model="$prjct.project.summary", ui-tinymce="textConfig", placeholder="Enter a Summary for this Project")
        br
        ul.attachments
          li(ng-repeat="file in $prjct.project.featuredFiles")
            a(href="{{file.url}}", ng-hide="$prjct.show === 'EditProject'", target="_blank")
              i(class="file-{{file.fileType}}")
              |  {{file.name}}
            .flex-row(ng-show="$prjct.show === 'EditProject'")
              .select
                select.form-control(ng-model="file.fileType")
                  option(value="", selected, disabled) File Type
                  option(ng-repeat="option in fileTypes", value="{{option.value}}") {{option.label}}
                span.ti-angle-down.icon-right
              input.form-control(ng-model="file.name", placeholder="File Name")
              input.form-control(ng-model="file.url", placeholder="File URL")
              span.icon.ti-close(ng-click="$prjct.project.featuredFiles.splice($index, 1)")
          li.add(ng-show="$prjct.show === 'EditProject' && $prjct.project.featuredFiles.length < 3", ng-click="$prjct.project.featuredFiles.push({})")
            i.icon.ti-plus
            |  Add Featured File
        hr
      section.project-content_section#section-1
        h2 Background 
          //- i.toggle-edit.ti-pencil-alt(ng-if="$prjct.user === me._id", ng-click="$prjct.setFocus('section-1')")
          span What led you here that you want to do this study?
        div.m-5
          div(ng-hide="$prjct.show === 'EditProject' || editSection === 'section-1'", ng-bind-html="$prjct.project.overview")
          span(ng-show="$prjct.show === 'EditProject' || editSection === 'section-1'", ng-model="$prjct.project.overview", ui-tinymce="textConfig", placeholder="Enter a Summary for this Project")

      section.project-content_section.project-goal#section-2
        h2 Research Goals
          span What is the reason for this study? What is the end result of this research activity?
        .content: ul.list(ng-model="$prjct.project.goals", ui-sortable="$DragControls")
          li(ng-repeat="goal in $prjct.project.goals")
            .item-label(ng-hide="$prjct.show === 'EditProject'", data-content="{{$index === 0 ? 'P' : 'S'}}", ng-class="{primary: goal.primary, secondary: !goal.primary}")
              .item-description {{$index === 0 ? 'Primary' : 'Secondary'}}
            .item-label.remove(ng-show="$prjct.show === 'EditProject'", ng-click="$prjct.project.goals.splice($index, 1)")
              span.icon.ti-trash
              .item-description Remove
            .move(ng-show="$prjct.show === 'EditProject'"): i.ti-arrows-vertical
            p(ng-hide="$prjct.show === 'EditProject'", ng-bind-html="goal.description")
            p(ng-show="$prjct.show === 'EditProject'", ng-model="goal.description", ui-tinymce="textConfig", placeholder="Enter a goal for the research here...", contenteditable=true)
          li.add(ng-show="$prjct.show === 'EditProject'", ng-click="$prjct.project.goals.push({})")
            .item-label: span.ti-plus
            small ADD RESEARCH GOAL

      section.project-content_section.questions-considered#section-3
        h2 Research Questions
          span Questions to be answered during the study.
        .content: ul.list(ng-model="$prjct.project.questions", ui-sortable="$DragControls")
          li(ng-repeat="q in $prjct.project.questions")
            .item-label(ng-click="viewQuestion_$index = !viewQuestion_$index", ng-show="$prjct.show != 'EditProject'")
              span.icon.ti-angle-right(ng-hide="viewQuestion_$index")
              span.icon.ti-angle-down(ng-show="viewQuestion_$index")
            .item-label.remove(ng-click="$prjct.project.questions.splice($index, 1)", ng-show="$prjct.show === 'EditProject'")
              span.icon.ti-trash
              .item-description Remove
            .move(ng-show="$prjct.show === 'EditProject'"): i.ti-arrows-vertical
            div.default(ng-hide="$prjct.show === 'EditProject'")
              h3: span(ng-bind-html="q.question")
              p(ng-class="{hide: !viewQuestion_$index}", ng-init="viewQuestion_$index = false", ng-bind-html="q.description")
            div.edit(ng-show="$prjct.show === 'EditProject'")
              h3: span(ng-bind-html="q.question", ng-model="q.question", contenteditable="true", ui-tinymce="titleConfig", placeholder="Enter your question here")
              p(ng-show="q.question.length >= 10", ng-model="q.description", contenteditable="true", ui-tinymce="textConfig", placeholder="And enter the answer or strategy here", class="animate")
            p.note(ng-show="q.timestamp.updatedAt") Updated {{q.timestamp.updatedAt | date: 'MMMM d, yyyy'}}
          li.add(ng-show="$prjct.show === 'EditProject'", ng-click="$prjct.project.questions.push({})")
            .item-label: span.ti-plus
            small ADD RESEARCH QUESTION

      section.project-content_section.key-findings#section-4
        h2 Key Findings
          span Findings are the “why” things happened and the answers to your research questions. 
        .content: ul.list(ng-model="$prjct.project.findings", ui-sortable="$DragControls")
          li(ng-repeat="f in $prjct.project.findings")
            .item-label(data-content="{{f.author ? (f.author | initials) : ''}}", ng-show="$prjct.show != 'EditProject'")
              .item-description {{f.author}}
            .item-label.remove(ng-click="$prjct.project.findings.splice($index, 1)", ng-show="$prjct.show === 'EditProject'")
              span.icon.ti-trash
              .item-description Remove
            .move(ng-show="$prjct.show === 'EditProject'"): i.ti-arrows-vertical
            div.default(ng-hide="$prjct.show === 'EditProject'")
              h3: span(ng-bind-html="f.title")
              p(ng-class="{hide: !viewQuestion_$index}", ng-init="viewQuestion_$index = false", ng-bind-html="f.description")
              span.cat(ng-show="f.category", ng-bind-html="f.category")
            div.edit(ng-show="$prjct.show === 'EditProject'")
              h3: span(ng-model="f.title", contenteditable="true", ui-tinymce="titleConfig", placeholder="Enter a title for your finding here")
              p(ng-show="f.title.length >= 10", ng-model="f.description", contenteditable="true", ui-tinymce="textConfig", placeholder="Describe the key finding here", class="animate")
              p(ng-show="f.description.length >= 10", ng-model="f.category", contenteditable="true", ui-tinymce="titleConfig", placeholder="Enter a category for this finding", class="animate") {{f.category}}
          li.add(ng-show="$prjct.show === 'EditProject'", ng-click="$prjct.project.findings.push({author: $prjct.me.name})")
            .item-label: span.ti-plus
            small ADD KEY FINDING

      section.project-content_section.decisions#section-5
        h2 Decisions
        .content.cf
          ul.cf.list(ng-model="$prjct.project.decisions", ui-sortable="$DragControls")
            li(ng-repeat="d in $prjct.project.decisions")
              .item-label(ng-show="$prjct.show != 'EditProject'"): i.ti-check
              .item-label.remove(ng-click="$prjct.project.decisions.splice($index, 1)", ng-show="$prjct.show === 'EditProject'")
                span.icon.ti-trash
                .item-description Remove
              .move(ng-show="$prjct.show === 'EditProject'"): i.ti-arrows-vertical
              div.default(ng-hide="$prjct.show === 'EditProject'")
                h3: span(ng-bind-html="d.title")
                p(ng-bind-html="d.description")
              div.edit(ng-show="$prjct.show === 'EditProject'")
                h3: span(ng-model="d.title", contenteditable="true", ui-tinymce="titleConfig", placeholder="Summarize your decision here")
                p(ng-show="d.title.length >= 10", ng-model="d.description", contenteditable="true", ui-tinymce="textConfig", placeholder="Describe the decision here", class="animate")
              p.note(ng-show="d.updated") Updated {{d.updated | date: 'MMMM d, yyyy'}}
            li.add(ng-show="$prjct.show === 'EditProject'", ng-click="$prjct.project.decisions.push({})")
              .item-label: span.ti-plus
              small ADD DECISION

      section.project-content_section.implications.empty#section-6
        h2 Implications
          span Acquired knowledge derived from research that informs design.
        .content: .wrap
          ul.nav
            li(ng-repeat="i in $prjct.project.implications",
              ng-class="{active: $prjct.implicationsTab === i.implicationType}",
              ng-click="$prjct.setTab(i.implicationType)",
              ng-show="i.description.length || $prjct.show === 'EditProject'") {{i.implicationType}}
          .tab(ng-repeat="t in $prjct.project.implications", ng-show="$prjct.implicationsTab === t.implicationType")
            strong
              span.icon.ti-layout(ng-show="t.implicationType == 'Product'")
              span.icon.ti-palette(ng-show="t.implicationType == 'Design'")
              span.icon.ti-headphone-alt(ng-show="t.implicationType == 'Service'")
              span.icon.ti-pie-chart(ng-show="t.implicationType == 'Marketing'")
              span.icon.ti-shopping-cart(ng-show="t.implicationType == 'Sales'")
              span.icon.ti-agenda(ng-show="t.implicationType == 'On-Boarding'")
              | {{t.implicationType}} Implications
            .m-10
              div(ng-hide="$prjct.show === 'EditProject'", ng-bind-html="t.description")
              span(ng-show="$prjct.show === 'EditProject'", ng-model="t.description", ui-tinymce="textConfig", placeholder="Describe the {{t.implicationType}} implications here", class="animate")

      section.project-content_section.key-findings.direct-quotes#section-7(ng-class="{empty: !$prjct.project.quotes.length}")
        h2 Direct Quotes
        .content(ng-hide="$prjct.show === 'EditProject'"): slick(settings='slickConfig', ng-if='!loading')
          .quote(ng-repeat="quote in $prjct.project.quotes")
            .item-label.quote-icon: i.ti-quote-left
            div.default(ng-hide="$prjct.show 'EditProject'")
              .quote-meta(ng-bind-html="quote.source")
              p.quote-content(ng-bind-html="quote.quote")
              .quote-author
                .qa-content 
                  .qa-name(ng-bind-html="quote.author.name")
                  .qa-title(ng-bind-html="quote.author.title")
        .content(ng-show="$prjct.show === 'EditProject'"): ul.list(ng-model="$prjct.project.quotes", ui-sortable="$DragControls")
          li.quote(ng-repeat="quote in $prjct.project.quotes")
            .item-label.remove(ng-show="$prjct.show === 'EditProject'", ng-click="$prjct.project.quotes.splice($index, 1)")
              span.icon.ti-trash
              .item-description Remove
            .move(ng-show="$prjct.show === 'EditProject'"): i.ti-arrows-vertical
            div.edit
              .quote-meta(ng-model="quote.source", placeholder="Enter the quotes source here", ui-tinymce="titleConfig")
              p.quote-content(ng-model="quote.quote", placeholder="Enter the quote here", ui-tinymce="titleConfig")
              .quote-author
                .qa-content 
                  .qa-name(ng-model="quote.author.name", placeholder="Enter the author or speaker here", ui-tinymce="titleConfig")
                  .qa-title(ng-model="quote.author.title", placeholder="Enter the authors role within their company", ui-tinymce="titleConfig")
          li.add(ng-show="$prjct.show === 'EditProject'", ng-click="$prjct.project.quotes.push({})")
            .item-label: span.ti-plus
            small ADD QUOTE

      section.project-content_section.personas#section-8
        h2 Personas
        .content.group(ng-hide="$prjct.show === 'EditProject'")
            .persona.primary(ng-repeat="persona in $prjct.project.personas")
              .persona-header(style="background-image: url({{persona.photo}})")
                .persona-header_tag(ng-show="persona.primary") PRIMARY
                .persona-header_name {{persona.name}}
                .persona-header_title {{persona.title}}
              .persona-content {{persona.description | limitTo:150}}{{persona.description.length > 150 ? '...' : null}}
          .content.group(ng-show="$prjct.show === 'EditProject'")
            ul.list(ng-model="$prjct.project.personas", ui-sortable="$DragControls")
              li(ng-repeat="p in $prjct.project.personas")
                .item-label(ng-show="$prjct.show != 'EditProject'"): i.ti-check
                .item-label.remove(ng-click="$prjct.project.personas.splice($index, 1)", ng-show="$prjct.show === 'EditProject'")
                  span.icon.ti-trash
                  .item-description Remove
                .move(ng-show="$prjct.show === 'EditProject'"): i.ti-arrows-vertical
                div.edit
                  input.form-control(rows=1,
                    placeholder="Select persona...",
                    ng-model="persona_search[$index]",
                    ng-value="$prjct.project.personas[$index].name",
                    uib-typeahead="persona as persona.name for persona in personas | filter: persona_search[$index] | limitTo: 8",
                    typeahead-on-select="$prjct.project.personas[$index] = persona_search[$index]._id",
                    ng-required="$index <= 0",
                    typeahead-min-length="0",
                    typeahead-show-hint="true")
              li.add(ng-show="$prjct.show === 'EditProject'", ng-click="$prjct.project.personas.push({})")
                .item-label: span.ti-plus
                small ADD PERSONA
        .page-fade(style="bottom: 0")

  //-
    - Sidebar
    - @TODO: Move to Module, import from there
  aside.sidebar#sidebar(ng-class="{show: $prjct.ShowSidebar}", prevent:scroll)
    .sidebar_section  
      h4 The Basics
      //- .sc_row
        p.label STATUS
        .flex-row(style="margin-top: 10px")
          .status.past
            .status-bar
            .status-label Planning
          .status.active
            .status-bar
            .status-label In Progress
          .status
            .status-bar
            .status-label Complete
      .sc_row
        p.label CONDUCTED BY
        .input-group
          i.angle-down
          input(type="text",
            placeholder="Researcher",
            ng-model="researcher",
            ng-disabled="$prjct.show != 'EditProject'",
            ng-value="$prjct.project.researcher.name",
            uib-typeahead="researcher as researcher.name for researcher in $users | filter: researcher | limitTo: 8",
            typeahead-on-select="$prjct.project.researcher = researcher._id",
            typeahead-min-length=0)
    .sidebar_section
      h4 Resources / Files
      .sc_row
        ul.attachments.items
          li(ng-repeat="file in $prjct.project.resources", style="padding: 0")
            a(href="{{file.url}}", ng-hide="$prjct.show === 'EditProject'", target="_blank")
              i(class="file-{{file.fileType}}")
              | {{file.name}}
            span.input-group.group(ng-show="$prjct.show === 'EditProject'")
              .flex-row
                .select
                  select.form-control.ctrl-sm(ng-model="file.fileType")
                    option(value="", selected, disabled) File Type
                    option(ng-repeat="option in fileTypes", value="{{option.value}}") {{option.label}}
                  span.ti-angle-down.icon-right
                input.form-control.ctrl-sm(ng-model="file.name", placeholder="File Name")
              input.form-control.ctrl-sm(ng-model="file.url", placeholder="File URL")
              span.icon.ti-close(ng-click="$prjct.project.resources.splice($index, 1)")
          li(ng-show="$prjct.show === 'EditProject'", style="padding: 0", ng-click="$prjct.project.resources.push({})"): span.add(style="display: block;")
            i.ti-plus
            |  Add File
          li(ng-show="$prjct.project.resources.length <= 0 && $prjct.show != 'EditProject'", style="padding: 0"): span(style="display: block;") No files added yet.
    .sidebar_section
      h4 Taxonomy
      .sc_row
        p.label CATEGORY
        input(type="text",
          placeholder="Category...",
          ng-model="category_search",
          ng-disabled="$prjct.show != 'EditProject'",
          ng-value="$prjct.project.taxonomy.category.pretty",
          uib-typeahead="category as category.pretty for category in $categories | filter: category_search | limitTo: 8",
          typeahead-on-select="$prjct.project.taxonomy.category = category_search._id",
          typeahead-min-length=0)
      .sc_row
        p.label SUBCATEGORY
        input(type="text",
          placeholder="Subcategory...",
          ng-model="subcategory_search",
          ng-disabled="$prjct.show != 'EditProject'",
          ng-value="$prjct.project.taxonomy.subcategory.pretty",
          uib-typeahead="subcategory as subcategory.pretty for subcategory in $subcategories | filter: subcategory_search | limitTo: 8",
          typeahead-on-select="$prjct.project.taxonomy.subcategory = subcategory_search._id",
          typeahead-min-length=0)
      .sc_row
        p.label PRODUCT
        input(type="text",
          placeholder="Product...",
          ng-model="product_search",
          ng-disabled="$prjct.show != 'EditProject'",
          ng-value="$prjct.project.taxonomy.products[0].title",
          uib-typeahead="product as product.title for product in $products | filter: product_search | limitTo: 8",
          typeahead-on-select="$prjct.project.taxonomy.products[0] = product_search._id",
          typeahead-min-length=0)
      .sc_row
        p.label TAGS
        .tags-row(ng-show="$prjct.show === 'EditProject'")
          tags-input(ng-model="$prjct.project.taxonomy.tags",
            display-property="pretty",
            name="tags",
            on-tag-added='$prjct.createTag($tag)',
            add-from-autocomplete-only=0
            novalidate)
            auto-complete(source="loadTags($query)"
              min-length=1,
              max-results-to-show="6")
        .tags-row(style='margin-left: -5px; margin-right: -5px', ng-hide="$prjct.show === 'EditProject'")
          span.tag(ng-repeat="tag in $prjct.project.taxonomy.tags") {{tag.pretty}}
          span(ng-show="$prjct.project.taxonomy.tags.length <= 0"): small(style="display: block; padding: 0 5px") No tags to show.
    .sidebar_section
      h4 Research Method
      .sc_row(ng-hide="$prjct.show === 'EditProject'")
        ul.list-bullet.items
          li(ng-show="$prjct.project.researchMethod.length", ng-repeat="method in $prjct.project.researchMethod") {{method.title}}
          li(ng-hide="$prjct.project.researchMethod.length"): span No methodology added yet.
      .sc_row(ng-show="$prjct.show === 'EditProject'")
        ul.attachments.items
          li(ng-show="$prjct.project.researchMethod.length", ng-repeat="link in $prjct.project.researchMethod", style="padding: 0")
            input(type="text",
              placeholder="Search by Research Method...",
              ng-model="method_search[$index]",
              ng-disabled="$prjct.show != 'EditProject'",
              ng-value="$prjct.project.researchMethod[$index].title",
              uib-typeahead="method as method.title for method in $methods | filter: method_search[$index] | limitTo: 8",
              typeahead-on-select="$prjct.project.researchMethod[$index] = method_search[$index]._id",
              typeahead-min-length=0)
            //- span.icon.ti-close(ng-click="$prjct.project.researchMethod.splice($index, 1)")
          li(style="padding: 0", ng-click="$prjct.project.researchMethod.push({})", ng-show="$prjct.project.researchMethod.length <= 1"): span.add(style="display: block;")
            i.ti-plus
            |  Add Research Method
    .sidebar_section
      h4 Timestamps
      .sc_row: .flex-row
        .input-block
          p.label CREATED
          span {{$prjct.project.createdAt | date: 'MMM d, yyyy'}}
        .input-block
          p.label UPDATED
          span {{$prjct.project.updatedAt | date: 'MMM d, yyyy'}}
    .sidebar_section
      h4 Links
      .sc_row(ng-hide="$prjct.show === 'EditProject'")
        ul.list-links.items
          li(ng-show="$prjct.project.links.length", ng-repeat="link in $prjct.project.links")
            a(href="{{link.url}}", target="_blank") {{link.title}}
          li(ng-hide="$prjct.project.links.length"): span No links added yet.
      .sc_row(ng-show="$prjct.show === 'EditProject'")
        ul.attachments.items
          li(ng-show="$prjct.project.links.length", ng-repeat="link in $prjct.project.links", style="padding: 0")
            .input-group
              input.form-control.ctrl-sm(ng-model="link.title", placeholder="Link Title")
              input.form-control.ctrl-sm(ng-model="link.url", placeholder="Link URL")
            span.icon.ti-close(ng-click="$prjct.project.links.splice($index, 1)")
          li(style="padding: 0", ng-click="$prjct.project.links.push({})"): span.add(style="display: block;")
            i.ti-plus
            |  Add Link
    .sidebar_section
      h4 Retrospective
      .sc_row: form(name="addComment", ng-submit="$prjct.addComment()")
        textarea(rows=4, ng-model="$prjct.comment", ng-class="{'has-error': $prjct.NoComment}", placeholder="Placeholder...")
        .group
          input.pull-right(type="submit", value="ADD COMMENT")
      .sc_row.comments
        .input-block.comment(ng-repeat="comment in $prjct.project.comments | orderBy: 'createdAt':true")
          p {{comment.comment}}
          span.name {{comment.user}}
          span.icon.ti-close(ng-click="$prjct.project.comments.splice($index, 1)", ng-show="$prjct.show === 'EditProject'")